* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
#navbar{
    position: relative;
    top: 0px;
}
#navbar::before {
    content: "" ;
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.3;
}

#navbar {
    display: flex;
    align-items: center;
}

#logo {
    margin: 0 40px;

}

#logo img {
    height: 59px;
}

#navbar ul {
    display: flex;
    margin-left: 50px;
}

#navbar li {
    
    margin: 10px 30px;
    color: black;
}
#navbar ul li a{
    display: block;
    padding: 3px 14px;
    color: white;
}
#navbar ul li a:hover{
    color: black;
    background-color: aliceblue;
    border-radius: 16px;
    font-weight: bolder;
}



#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
      height: 746px;

}
#home::before{
    content: "" ;
    position: absolute;
    background: url(img/Bobzy.jpg) no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.89;

    top: 0px;
    left: 0px;
}

#home h1 {
    color: white;
    text-align: center;
}

#home p {
        color: white;
    text-align: center;
    font-size: 1.2rem;
}
/* Services */
#services{
    display: flex;
    margin: 34px;
}
#services .box{
    border: 2px solid red;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background-color: #f7f7e9;
}
#services .box img{
    height: 160px;
    display: block;
    margin: auto;
}

/* Utility Class */
.h-primary{
    font-size: 1.8rem;
    padding: 12px;
    /* margin-top: 200px; */
    font-family: bre;
}

.h-secondary{
    font-size: 1rem;
    padding: 12px;
}

.btn{
    padding: 10px 20px;
    color: white;
    outline: none;
    border: none;
    /* border: 2px solid rgb(255, 255, 255); */
    border-radius: 10px;
    cursor: pointer;
    margin: 15px;
    background-color: rgba(0, 128, 0, 0.3);
}
.btn:hover{
    font-weight: bolder;
    background-color: green;
    border: 1px solid black;

}
.center{
    text-align: center;
}