*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    height: 100vh;
}
#blog{
    width: 90%;
    margin: 0 auto;
}
.container{
    padding: 50px 20px;
}
.blog-title{
    text-align: center;
}
.blog-title h1{
font-size: 2rem;
}
.blog-title hp{
font-size: 15px;   
margin: 10px 0; }
.container .row{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px, 1fr));
    gap: 20px;
}
.container .row .col{
    /* width: 250px; */
    background-color: aliceblue;
}
.container .row .col:hover img{
    transform: scale(1.04);
}
.container .row .col img{
    width: 100%;
    object-fit: cover;
    height: 320px;
    transition: 0.5s ease-in;

}
.container .row .col .date{
    background-color: black;
    color: white;
    padding: 2px 10px;
    width: 125px;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 20px;
}
.container .row .col a{
    text-decoration: none;
}
.container .row .col a h4{
    font-size: 18px;
    color: black;
    margin: 12px 8px;
}
.container .row .col a h4:hover{
    color: rgb(199, 12, 12);
}
.container .row .col p{
    margin: 10px 6px;
    font-size: 14px;
}
.container .row .col .like-comment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 6px;
}
.container .row .col .like-comment p span{
    color: red;
    font-size: 17px;
}
.container .row .col .like-comment p .bubble{
    color: black;
    font-size: 17px;
}